<a href="https://colab.research.google.com/github/sakshigaidhani/codestorm-challenge/blob/main/Capstone_Project_Introduction_to_Computer_Programming_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Guidelines**


**1. About the Project:**

The Introduction to Computer Programming project is designed to evaluate your understanding and practical application of fundamental programming concepts using Python. This assessment encompasses various topics, including data types, indexing, slicing, operators, in-built functions, statements, conditionals, loops, object-oriented programming, and exception handling. In addition, you will showcase your ability to create custom functions and tackle advanced looping concepts.

**2. Skills Required:**

  To successfully complete this project assessment, you should possess the following skills and knowledge:
- Proficiency in Python programming language
- Understanding of data types, indexing, and slicing in Python
- Familiarity with operators, in-built functions, and methods
- Ability to work with statements, indentation, and conditionals
- Competence in implementing loops and iterations, including conditional and infinite looping
- Mastery of creating and utilizing custom functions in Python
- Knowledge of advanced looping concepts
- Understanding of object-oriented programming (OOPs) principles in Python
- Ability to handle exceptions in your code

**3. Deliverables:**

You are required to submit the following items for evaluation:
- Completed Python coding solutions for the given questions (coding assessment)
- Collab link containing your Python code for each question
- Video explanation for any five coding questions (demonstrating your understanding and approach)

**4. Rubrics:**

Your project assessment will be evaluated based on the following rubrics:

**a. Coding Assessment:**

- Correctness of the code solution
- Efficient use of coding constructs
- Clear and well-structured code organization

**b. Collab Link:**

- Submission of Python code through the provided Collab link
- Proper organization of code files and resources

**c. Video Explanation:**

- Clear articulation of solution approach
- Coverage of important concepts and logic
- Coherent and well-structured explanation

Please use these pointers as the basis for evaluating each section of the project assessment.

# **CodeStorm Challenge: Solving and Explaining Complex Coding Problems**

**Problem Statement:**

The CodeStorm Challenge is an intense coding competition designed to test participants' programming skills, problem-solving abilities, and communication prowess. In this challenge, participants will be required to solve a total of 30 intricate coding questions that cover a wide range of algorithms, data structures, and programming paradigms. Additionally, participants are tasked with creating an explanatory video that delves into the solutions of any five chosen questions.

The challenge aims to evaluate participants on their coding efficiency, algorithmic thinking, and presentation skills. Participants will need to not only implement correct and optimized solutions to the coding problems but also effectively communicate their thought processes and strategies in the form of a video presentation.

**Key Objectives:**

* Coding Proficiency: Participants must demonstrate their ability to write clean, efficient, and bug-free code to solve complex programming challenges within a time-constrained environment.

* Problem Solving: The challenge will encompass a variety of problem domains, including dynamic programming, graph algorithms, string manipulation, and more. Participants should showcase their prowess in breaking down problems, designing algorithms, and translating solutions into code.

* Communication Skills: In addition to coding skills, participants need to exhibit strong communication skills by creating a comprehensive video explaining the thought process, approach, and solution to five selected problems. Clarity, conciseness, and coherence in the video are essential.

* Time Management: Participants will need to efficiently manage their time throughout the challenge, allocating sufficient time to solve each question and ensuring they have ample time to create high-quality explanatory videos.

* Adaptability: As the challenge encompasses a diverse set of coding problems, participants must be adaptable in applying different algorithms and techniques to solve problems that may vary in difficulty and complexity.

**Note:**

1. Solve 30 coding problems out of the different problem statements given here.
2. Create a video explaining any 5 questions and include the video link before submitting.

# **Introduction to Python Programming**

## Score Board Operator
An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task.
According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

* wins: 3 points
* draws: 1 point
* losses: 0 points




Team London has played **8 matches** in this tournament. They won **4 matches**, lost **3 matches** and **drew 1**.
The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [1]:
# Define the points for different outcomes
points_for_win = 3
points_for_draw = 1
points_for_loss = 0

# Count the number of wins, draws, and losses
wins = 4
draws = 1
losses = 3

# Calculate the total points
total_points = (wins * points_for_win) + (draws * points_for_draw) + (losses * points_for_loss)

# Print the total points earned by Team London
print("Total points earned by Team London:", total_points)

Total points earned by Team London: 13

## Space and Time Complexity
 Time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

## Nutrition bar ingredient chart

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains **45g of raisins, 65g of almonds, and 30g of apricots**. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:
# Define the weights of each ingredient in grams
weight_raisins = 45
weight_almonds = 65
weight_apricots = 30

# Calculate the total weight of all ingredients
total_weight = weight_raisins + weight_almonds + weight_apricots

# Calculate the percentage of each ingredient
percentage_raisins = (weight_raisins / total_weight) * 100
percentage_almonds = (weight_almonds / total_weight) * 100
percentage_apricots = (weight_apricots / total_weight) * 100

# Print the ingredient percentages
print("Ingredient Percentage List:")
print("Raisins:", round(percentage_raisins,2),"%")
print("Almonds:", round(percentage_almonds,2), "%")
print("Apricots:", round(percentage_apricots,2), "%")

Ingredient Percentage List:
Raisins: 32.14 %
Almonds: 46.43 %
Apricots: 21.43 %

## Space and Time Complexity
A time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

## Measuring the Accuracy of a Disease Detection Model- Optional

If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of **100 patients**, including **30 with diabetes**, **45 with heart disease**, and **25 with cancer**.
The model's performance was evaluated in three rounds.
In the first round, the model correctly **detected diabetes in 25 out of the 30 patients** with the disease.
In the second round, the model correctly detected **heart disease in 35 out of the 45 patients** with the disease.
In the final round, the model correctly **detected cancer in 20 out of the 25 patients** with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

In [2]:
# Define the number of patients with each disease
patients_diabetes = 30
patients_heart_disease = 45
patients_cancer = 25

# Define the number of correctly detected cases for each disease
correctly_detected_diabetes = 25
correctly_detected_heart_disease = 35
correctly_detected_cancer = 20

# Calculate the accuracy for each disease
accuracy_diabetes = (correctly_detected_diabetes / patients_diabetes) * 100
accuracy_heart_disease = (correctly_detected_heart_disease / patients_heart_disease) * 100
accuracy_cancer = (correctly_detected_cancer / patients_cancer) * 100

#### Calculate your accuracy in each of the three cases

In [ ]:
# Print the accuracy for each disease
print("Accuracy for Diabetes:", round(accuracy_diabetes,2), "%")
print("Accuracy for Heart Disease:", round(accuracy_heart_disease,2), "%")
print("Accuracy for Cancer:", round(accuracy_cancer,2), "%")

Accuracy for Diabetes: 83.33 %
Accuracy for Heart Disease: 77.78 %
Accuracy for Cancer: 80.0 %

In [ ]:
# Print the overall accuracy of your model
overall_accuracy = round((accuracy_diabetes+accuracy_heart_disease+accuracy_cancer)/3,2)
print("Overall Accuracy for three cases:", overall_accuracy, "%")

Overall Accuracy for three cases: 80.37 %

##Space and Time Complexity
Time complexity of O(1) and a space complexity of O(1) because it performs a fixed number of operations and uses a fixed amount of memory regardless of the input values.

# **Data Types in Python**

## Solving Algebra the Cool Way 😎

You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. 😫
Consider a quadratic function:

***f(x)=x^2+3x-4***

Find the value of f(x) at x =3 , x=-2, and x=4

Doing this manually like the old days would be a tedious job 😞. But now you have python at your disposal 🙂 !
How would you approach this problem using what you have learned?

In [3]:
# Calculate the value of the function f(x) at x = 3
func_evaluated_at_3 = 3**2 + 3*3 - 4

In [4]:
# Calculate the value of the function f(x) at x = -2
func_evaluated_at_minus2 = (-2)**2 + 3*(-2) - 4

In [ ]:
# Calculate the value of the function f(x) at x = 4
func_evaluated_at_4 = 4**2 + 3*4 - 4

In [ ]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2
print(func_evaluated_at_3 >= func_evaluated_at_minus2)

True

In [ ]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not
print("The value of f(x) at 3 :",func_evaluated_at_3)
print("The value of f(x) at -2 :",func_evaluated_at_minus2)
print("The value of f(x) at 4 :",func_evaluated_at_4)

The value of f(x) at 3 : 14
The value of f(x) at -2 : -6
The value of f(x) at 4 : 24

##Space and Time Complexity
Time complexity of O(1) and a space complexity of O(1)

## Finding total A's in the Bookshelves

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. 😀

Are you ready to accept the challenge? 💪

In [ ]:
# Here's the list of books
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
# Store the count of books containing A/a in the title. Note this will be a case insensitive search
a_counts = sum(1 for char in books if char=='a')

A_counts= sum(1 for char in books if char=='A')

total_a_counts= a_counts + A_counts

In [ ]:
# Print the value
print(f"The total number of 'a's in the list of books is {total_a_counts}")

The total number of 'a's in the list of books is 7

##Space and Time Complexity
Time complexity of O(n) and a space complexity of O(1), where 'n' is the length of the books string.

## Unleashing the Power of Mean in Exam Analysis

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! 💪

In [ ]:
# List of student marks
marks = [67,87,75,46,89,97,68,98,87,88]

In [ ]:
# Calculate the mean of the marks. Use sum() and len() functions
mean_marks = sum(marks)/len(marks)

In [ ]:
print(mean_marks)

80.2

##Space and Time Complexity
The code has a time complexity of O(n) and a space complexity of O(1), where 'n' is the number of elements in the marks list


## John's Fruit Stand Sales Mix-up

You must remember from the previous lessons that dictionaries can be used to store values corresponding to a particular key. But how is this helpful to us?

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

**['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']**
🤦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [6]:
#Here's John's list:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

In [7]:
# Step 2: Create an empty dictionary which will contain the unique fruit names
fruit_dict={}

# Set the values for each key separately

# First Key
fruit_dict['Mango']= fruit_list.count('Mango')

# Second Key
fruit_dict['Pineapple']= fruit_list.count('Pineapple')

# Third Key
fruit_dict['Apple']= fruit_list.count('Apple')

# Fourth Key
fruit_dict['Banana']= fruit_list.count('Banana')

In [ ]:
print(fruit_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

## Space and time complexity
The code has a time complexity of O(n) and a space complexity of O(1) or O(k), where 'n' is the number of elements in the fruit_list and 'k' is the number of unique fruit names.

# **Indexing & Slicing**

## Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:

* Namor
* Doctor Strange
* Wolverine
* Captain America
* Black Widow
* Thor

Write a code to slice these characters from the list

In [ ]:
# Replace x with appropriate values
new_marvel=marvel_words[5:]
print(new_marvel)

['Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

## Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [ ]:
team1=marvel_words[0::2]
team2=marvel_words[1::2]
print("Team 1 :",team1)
print("Team 2 :",team2)

Team 1 : ['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
Team 2 : ['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

###3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [ ]:
spider_man=marvel_words[2]
spidey_sliced=spider_man[7:]
print(spidey_sliced)

Man

###4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
#Your code here
iron_man=marvel_words[3]
reversed_man=iron_man[::-1]
print(reversed_man)

naM norI

##Time and Space Complexity
Let's analyze the time and space complexity of each part of the provided code:

new_marvel = marvel_words[5:] : Both the time and space complexity of this operation are O(n), where 'n' is the length of the original marvel_words list.

team1 = marvel_words[0::2] and team2 = marvel_words[1::2] :The time complexity of both operations is O(n), and the space complexity is also O(n) because the slices create new lists with approximately half the size of the original list.

spider_man = marvel_words[2] and spidey_sliced = spider_man[7:]: Both operations have a time complexity of O(1) because they involve accessing specific elements of the list and string slicing, which are constant time operations. The space complexity is also O(1) because only string references are created.

iron_man = marvel_words[3] and reversed_man = iron_man[::-1]: Both operations have a time complexity of O(m), where 'm' is the length of the string (in this case, the length of the word "Iron Man"). The space complexity is O(m) because a new string of the same length is created to store the reversed word.

# **Operators in Data Types**


## 🎉 Let's do some math!

* 📐 First up, let's calculate the area of a square with sides that measure 5 cm. 🤔 How much space does this shape occupy?

* 🔍 Next, let's find the volume of a cube with sides that measure 12 cm. 📏 How much room does this shape take up?

* 🔢 Lastly, we'll find the quotient and remainder when we divide 10 by 4. 🧐 How many times does 4 fit into 10? What's left over?

In [ ]:
# Area of the square
side = 5
ar_square=side**2
print("Area of the square",ar_square)

# Volume of the cube
edge = 3
vol_cube=edge**3
print("Volume of cube :",vol_cube)

# quotient and remainder
numerator = 10
denominator = 4

quotient=numerator//denominator
remainder=numerator % denominator

print("Remainder :",remainder)
print("Quotient :",quotient)

Area of the square 25
Volume of cube : 27
Remainder : 2
Quotient : 2

##Time and Space Complexity


1.   The time complexity of all operations is O(1) because they involve simple arithmetic calculations that do not depend on the size of any input.
2.   The space complexity is also O(1) because a fixed number of variables are used, and their memory usage does not depend on the size of any input.

## 📚 Let's practice some comparison operators! Here's a problem for you to solve:

🍎 The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! 🍎🍏

In [ ]:
# Your code here
basket1=12
basket2=8
# number of apples in the first basket greater than the number of apples in the second basket?
print('Apples in basket1 greater than basket2:',basket1 > basket2)

# number of apples in the second basket less than or equal to the number of apples in the first basket?
print('Apples in basket2 less than or equal to basket1:',basket1 >= basket2)

# number of apples in the first basket equal to the number of apples in the second basket?
print('Apples in basket1 equal to basket1:',basket1 == basket2)

# number of apples in the second basket not equal to the number of apples in the first basket?
print('Apples in basket1 not equal to basket1:',basket1 != basket2)

Apples in basket1 greater than basket2: True
Apples in basket2 less than or equal to basket1: True
Apples in basket1 equal to basket1: False
Apples in basket1 not equal to basket1: True

##Space and Time Complexity
They have both space and time complexity of O(1)

## 🌴 Are you ready for your trip to Goa? 🌊 You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

🧳 One of your bags weighs 15 kg, while the other one weighs only 5 kg. 💪 You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

👮‍♀️ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5


# Check if both bags weigh less than 13 kg
if bag1_weight < 13 and bag2_weight < 13:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

🧳 Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. 😊

👨‍✈️ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. 🛫

🤔 Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if at least one bag weighs less than 6 kg
if bag1_weight<6 or bag2_weight<6:
  print("Enjoy your trip!")
else:
  print("Sorry, You can not go through!")

Enjoy your trip!

🤔 Did you notice how we made a decision on which print statement to use based on the result of our logical operators? 🤔

🚀 Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious 😎

##Space and Time Complexity
They have both space and time complexity of O(1)

## 📚 Imagine that you're a book lover with a collection of lot of books. 🤓

🔎 You need to find out how many of your books contain the word "Python" in them. 🐍

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [ ]:
count = 0
for book in books:
  if "Python" in book.split(" "):
      count += 1

In [ ]:
print("The number of books containing the word Python :",count)

The number of books containing the word Python : 2

 The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
list_ = []
for book in books:
  list_.append(book.upper())
print(list_)

['PYTHON FOR DATA SCIENCE HANDBOOK BY JAKE VANDERPLAS', 'THE PRAGMATIC PROGRAMMER BY ANDREW HUNT AND DAVID THOMAS', 'PYTHON MACHINE LEARNING BY SEBASTIAN RASCHKA', 'THE ALCHEMIST BY PAULO COELHO']

## Space and Time Complexity
 Time complexity of O(n) and a space complexity of O(1), where 'n' is the number of books in the books list

# **In-Built Functions & Methods**

## Here is a string for you to work with:

In [ ]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [ ]:
print(statement)

anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

1. Create a list containing the three sentences in the statement.
Hint: Use split() method.

In [ ]:
# Create a list containing the three sentences in the statement.

sentence_list= statement.split('.')
print(sentence_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

2. The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [ ]:
# The name 'anas' is spelled wrong. Replace it with 'Anas'.

statement_1 = sentence_list[0].replace("anas","Anas")   #Redefine the statement, with the correction.
print(statement_1)

Anas eagerly recommended 'the shawshank redemption' to his friends

3. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
# Change the recommendation of movie to one, of your choice.
# Take input of movie

new_movie=input("Which movie wold you recommend? ")
statement_1 = statement_1.replace('the shawshank redemption',new_movie)
print(statement_1)

Which movie wold you recommend? Pearl Harbour
Anas eagerly recommended 'Pearl Harbour' to his friends

##Space and Time Complexity


1.   Time complexity: O(n + 2m), where n is the length of the original statement, and m is the length of the first sentence.
2.   Space complexity of the code is O(n + m), where n is the length of the original statement, and m is the length of the first sentence.

## 🎥 Suppose you have a collection of your favorite movies 🍿🎞️ and you want to keep track of them using a Python list 📜. You start with an empty list [] and keep adding new movies 🆕 to it. You also want to be able to remove movies ❌ that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count 🔢 how many movies you have in your collection and reverse the order of the list 🔄.

In [ ]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("Avengers") # Use your favourite movie names
movie_collection.append("Iron Man")
movie_collection.append("Thor")
movie_collection.append("Justice League")
movie_collection.append("Fantastic 4")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)

# Remove a movie from the collection using the pop() method
movie_collection.pop()

# Code to remove index 3 here
movie_collection.pop(3)
print("After removing movie 4", movie_collection)


# Count how many movies are in the collection
num_movies = len(movie_collection)
print("Number of movies:", num_movies)

# Reverse the order of the list using the reverse() method
movie_collection_rev = sorted(movie_collection,reverse=True)

print("Reversed movie collection:", movie_collection_rev)

My Movie Collection: ['Avengers', 'Iron Man', 'Thor', 'Justice League', 'Fantastic 4']
After removing movie 4 ['Avengers', 'Iron Man', 'Thor']
Number of movies: 3
Reversed movie collection: ['Thor', 'Iron Man', 'Avengers']

##Time complexity:
1.   Adding movies: O(1) per movie
1.   Removing a movie by index: O(n) per removal (worst case)
2.   Counting movies: O(1)
2.   Reversing the list: O(n*log(n))

##Space complexity
1.   movie_collection: O(n)
2.   movie_collection_rev: O(n)

## 👩‍🏫 A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

👨‍🎓 Their role numbers are defined as their index number + 1.

🖥️ Write a program which would take the name of the student as input and return their role number.

In [ ]:
student_tuple=('Adam','Alice','Ben','Bilal','Bharath')

In [ ]:
# Take input from user and display role number as index of the input + 1
student=input("Input the student name to get roll number - ")
print(student,"'s roll number is: ", student_tuple.index(student)+1)

Input the student name to get roll number - Bilal
Bilal 's roll number is:  4

##Space and Time Complexity
*   Time Complexity O(n) in the worst case because it may need to traverse the entire tuple to find the index.
*   Space complexity is constant O(1)

## A store 🏪 sells different types of fruits 🍎🍌🍇🍓 in baskets 🧺. The storekeeper 🧑 keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. 🤔

In [ ]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

# Find the total number of fruits available
total_fruits = len(basket1.union(basket2))
print("Total number of fruits available:", total_fruits)

# Find fruits available in both baskets
both_baskets = basket1.union(basket2)
print("All the available fruits:", both_baskets)

# Find only the common fruits in both baskets
common_fruits = basket1.intersection(basket2)
print("Common fruits in both baskets:", common_fruits)

# Find fruits unique to each basket
unique_basket1 = basket1 - basket2
unique_basket2 = basket2 - basket1
print("Fruits unique to basket 1:", unique_basket1)
print("Fruits unique to basket 2:", unique_basket2)

Total number of fruits available: 6
All the available fruits: {'pineapple', 'apple', 'grape', 'orange', 'mango', 'banana'}
Common fruits in both baskets: {'banana', 'orange'}
Fruits unique to basket 1: {'apple', 'grape'}
Fruits unique to basket 2: {'mango', 'pineapple'}

##Space and Time Complexity
Both have the value of O(m+n) where m and n are sizes of the sets

# **Statements, Indentation & Conditionals**

## 👉 Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".

In [ ]:
# Get the lead content of the packaged food material
lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

# Check if the lead content exceeds 5%
if lead_content > 5:
  print("This batch cannot be approved")
else :
  print("This batch is good to go")

Please enter the lead content of the packaged food material in percentage: 7
This batch cannot be approved

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)

## 👉 Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".

In [ ]:
age = int(input("enter the age: "))


#Check the age of the guest
if age<18:
  print("Sorry You can not enter!")
else :
  print("Welcome to the club")

enter the age: 17
Sorry You can not enter!

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)

## 👉 Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"

In [ ]:
# Get the client's weight loss
client_weight_loss = float(input("Please enter the client's weight loss (in pounds): "))

# Check if the client reached their weight loss goal
if client_weight_loss < 10:
  print("Sorry, you have not reached your weight loss goal yet. Keep up the good work!")
else :
  print("Congratulations, you have reached your weight loss goal!")

Please enter the client's weight loss (in pounds): 8
Sorry, you have not reached your weight loss goal yet. Keep up the good work!

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)

##👉 Imagine: You're a gardener and need to check if a plant needs watering. If the soil moisture level is below 40%, print "Water the plant!", otherwise, print "The plant doesn't need watering."

In [ ]:
# Take input of moisture level
moisture_level = int(input("Enter moisture level "))

#Check if moisture level is satisfactory or not
if moisture_level < 40:
  print("Water the plant")
else :
  print("The plant doesn't need watering")

Enter moisture level 35
Water the plant

##Space and Time Complexity
The overall space and time complexity of this code are both O(1)

##📦📬🚚 Creating a shipping cost calculator! ⚙️

You need to create a program that calculates the cost of shipping a package based on its weight and destination 📦💰

🌍 Domestic shipping within the country :

* Packages weighing up to 1 kg cost Rs.50 to ship 🤑
Each additional kg costs Rs.10 extra 💰

🌎 International shipping to other countries 🌏:

* Packages weighing up to 1 kg cost Rs.500 to ship 🤑

Each additional kg costs Rs.100 extra 💰
Ready to ship? 🚛🚀

In [ ]:
weight = int(input("Enter the weight in kg of the shipping item :"))
trans_type = input("Transportation type within country 'local' or outside country 'international' :")

if weight <= 1:
  if trans_type == 'local':
    cost = 50
  elif trans_type == 'international' :
    cost = 500
  else :
    print("Enter the valid transportation type")

else:
  if trans_type == 'local':
    cost = 50 + 10*(weight-1)
  elif trans_type == 'international':
    cost = 500 + 100*(weight-1)
  else:
    print("Enter the valid transportation type")

print("the cost of transporting the item is :",cost)

Enter the weight in kg of the shipping item :8
Transportation type within country 'local' or outside country 'international' :local
the cost of transporting the item is : 120

##Space and Time Complexity
The overall space and time complexity of this code are both O(1), meaning they are constant and not dependent on the size of the input or any data structures.

## 🚗 As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules! 📝

🚘 If the car price is less than Rs. 10,00,000, there is no discount.

🎁 If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

🎉 If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

🥳 If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts? 🚗💰

In [ ]:
car_price = int(input("Enter the price of the price :"))
if car_price < 1000000:
  print('No discount')
elif car_price >= 1000000 and car_price < 2000000:
  print('Discount of 5%')
elif car_price >= 2000000 and car_price < 3000000:
  print('Discount of 7.5%')
else:
  print('Discount of 10%')

Enter the price of the price :2500000
Discount of 7.5%

##Space and Time Complexity
The overall space and time complexity of this code are both O(1), meaning they are constant and not dependent on the size of the input or any data structures.

# **Loops & Iterations**

## You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!

**Instructions:**

1. Define a list of rolls for each player, where each list contains the numbers rolled by the player.
2. Use a for loop to iterate over each player's rolls in the list of player rolls.
3. For each player, calculate the average roll by summing up all the rolls and dividing by the number of rolls. You can use the formula sum(rolls) / len(rolls) to do this.
4. Print out each player's average roll using f-strings to display the player number and their average roll to two decimal places.

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
] # list of a list

In [ ]:
max_avg = 0
max_index = 0
for index in range(len(player_rolls)):
  #print(player_rolls[index])
  average_roll = sum(player_rolls[index])/len(player_rolls[index])
  if average_roll>max_avg:
      max_avg = average_roll
      max_index = index
  print(f"Average Roll for Player {index+1} is {average_roll}")

print('\n')
print(f"The Luckiest of them all is Player {max_index+1} with maximum average roll {max_avg}")

Average Roll for Player 1 is 3.4
Average Roll for Player 2 is 3.8
Average Roll for Player 3 is 4.4


The Luckiest of them all is Player 3 with maximum average roll 4.4

##Space and Time Complexity
The code's time complexity is O(nm), where n is the number of players and m is the number of rolls per player, and the space complexity is also O(nm) due to the storage of the player rolls.

## Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant. To achieve this, you'll use a nested loop and some basic conditional statements.

**Instructions**

1. Start by defining a list of names. You can call this list names and initialize it with a few names.

2. Define two empty lists to store the names that start with vowels and consonants, respectively. You can call these lists vowel_names and consonant_names.

3. Use a nested loop to iterate through each name in the names list. The outer loop should iterate through each name, while the inner loop should iterate through each character in the name.

4. Inside the inner loop, use an if statement to check if the first letter of the name is a vowel or a consonant. You can do this by checking if the first character of the name is in a list of vowels.

5. If the first letter is a vowel, append the name to the vowel_names list using the append() method.

6. If the first letter is a consonant, append the name to the consonant_names list using the append() method.

7. Once the loop has finished iterating through all the names, use the print() function to print the two lists of names. You can include a message indicating which list contains the names that start with vowels and which list contains the names that start with consonants

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]
list_of_vowels = ['A','E','I','O','U']
vowel_names = []
consonant_names = []
for name in names:
  if name[0] in list_of_vowels:
    vowel_names.append(name)
  else:
    consonant_names.append(name)

In [ ]:
print("List where the names that start with vowels :\n",vowel_names)
print("List where the names that start with consonants :\n",consonant_names)

List where the names that start with vowels :
 ['Alice', 'Eve', 'Ivy', 'Olivia']
List where the names that start with consonants :
 ['Bob', 'Charlie', 'David', 'Peter']

##Space and Time Complexity
Both have the value of O(n) where n is the number of names in the list.

## You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.

**Instruction**

1. Define a dictionary to store the grades of the students. The keys of the dictionary should be the names of the students, and the values should be their respective grades.

2. Loop through the dictionary using a for loop and retrieve the grade of each student.

3. Check if the grade is greater than 90%. If it is, print out the name of the student.

4. Repeat steps 2-3 for all the students in the dictionary.

5. Once the loop is complete, the names of the students who scored above 90% will have been printed to the console.

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

student_list = []
for name,score in grades.items():
  if score>90:
    student_list.append(name)
print("List of the student who scored above 90% :",student_list)

List of the student who scored above 90% : ['Bob', 'David', 'Frank']

##Space and Time Complexity
Both have the value of O(n) where n is the number of students in the dictionary.

## You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.

List - numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

**Instructions**

1. Inititate the odd and even count variables.
2. Iterate through the outer list first. ie, [2,5,11,20,8] would be the item in the first iteration.
3. Iterate through this resulting list using an inner for loop.
4. Check if the number is odd or even, and add the count to the counter variables initialised before.
5. Print the odd and even counts.

In [ ]:
# List of numbers
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

# Your code here:
even_count=0
odd_count=0
for list_ in numbers:
  for num in list_:
    if num % 2 == 0:
      even_count += 1
    else:
      odd_count += 1

print("The no of even numbers is :",even_count)
print("The no of odd numbers is :",odd_count)

The no of even numbers is : 12
The no of odd numbers is : 13

##Space and Time Complexity
The time complexity is O(n*m), and the space complexity is O(1) depend on the size of the numbers list, which is n rows by m columns.

## Imagine you're organizing a chess tournament 🏆, where each player has to play against every other player. To achieve this, you can use nested loops in Python! Nested loops are simply loops within loops, and they come in handy when you need to perform tasks involving multiple levels of iteration.

In Python, you can nest 'for' loops, 'while' loops, or even a combination of both. Let's take a closer look at how nested loops work using our chess tournament scenario:

**Instructions**

1. Inititiate the list.
2. Iterate through the list in first loop.
3. Iterate throught the same list in inner loop.
4. Compare the element in the outer and inner loops. If they are not the same players, print "Player x plays against Player y".

In [ ]:
# Write Your Code Here
players = ['Alice', 'Bob', 'Charlie', 'Diana']

for player_1 in players:
  for player_2 in players:
    if player_1 != player_2:
      print(f"{player_1} plays against {player_2}")

Alice plays against Bob
Alice plays against Charlie
Alice plays against Diana
Bob plays against Alice
Bob plays against Charlie
Bob plays against Diana
Charlie plays against Alice
Charlie plays against Bob
Charlie plays against Diana
Diana plays against Alice
Diana plays against Bob
Diana plays against Charlie

##Space and Time Complexity
The overall space complexity is O(n), and the time complexity is O(n^2) due to the nested loop structure

# **Conditional & Infinite Looping**

## **Building a Simple Calculator**

In this activity, you will build a simple calculator using conditional looping in Python. The calculator will ask the user for two numbers and an operation (addition, subtraction, multiplication, or division), and then perform the operation on the two numbers.

**Instructions**:

1. First, enter your first choice number.
2. Second, enter your second choice number.
3. Choose or enter the operation you want to perform.User Input will be "(addition, subtraction, multiplication, or division)".
4. Use a conditional loop to perform the appropriate operation you want to perform.
5. Finally, print the result of the operation.

In [ ]:
first_number = int(input())
second_number = int(input())
opers = input("Enter the operation you want to perform: ")
list_of_opers = ['addition','subtraction','multiplication','division']

if opers == 'addition':
  print(first_number + second_number)
elif opers == 'subtraction':
  print(first_number - second_number)
elif  opers == 'multiplication':
  print(first_number * second_number)
elif opers == 'division':
  print(first_number / second_number)

5
6
Enter the operation you want to perform: multiplication
30

##Space and Time Complexity
The overall space and time complexity of this code are both O(1), meaning they are constant.

## **Building a Guessing Game**

In this activity, you will build a simple guessing game using conditional looping in Python. The game will generate a random number between 1 and 100, and the user will have to guess the number within a certain number of tries. The program will provide hints to the user after each guess, telling them whether their guess is too high or too low.

**What is the random module?**

The random module is a built-in Python module that provides a suite of functions for generating random numbers and sequences. This module is often used in applications where randomization is important, such as games, simulations, and cryptography.

You do not need to worry much about this as you will be learning about these modules and functions in the upcoming classes.

**Instructions:**

1. First, import the "random" module to generate a random number for the game.
2. Next, enter the number of tries you want to have and set a counter to keep track of how many tries you are left with.
3. Now, use a while loop to allow yourself to keep guessing until you either guess the correct number or run out of tries.
4. Finally, if you run out of tries without guessing the correct number, print a message telling what the secret number was.

In [ ]:
import random

# Generate a random number between 1 and 100
secret_number = random.randint(1, 100)
max_attempts = 7
attempt = 0

# Write code here
while attempt < max_attempts:

  try:
    guess = int(input("Enter the guess(1-100): "))

    if guess < 1 and guess > 100:
      continue

    attempt += 1

    if guess == secret_number:
      print("You have correctly guess the number")
    elif guess < secret_number:
      print("You have guess the number slightly low")
    elif guess > secret_number:
      print("You have guess the number slightly high")

    if attempt == max_attempts:
      print("You have reached the limit")
      break

  except ValueError:
    print("Enter the number between 1 to 100")

Enter the guess(1-100): 50
You have guess the number slightly low
Enter the guess(1-100): 75
You have guess the number slightly low
Enter the guess(1-100): 85
You have guess the number slightly high
Enter the guess(1-100): 80
You have guess the number slightly high
Enter the guess(1-100): 77
You have guess the number slightly low
Enter the guess(1-100): 78
You have correctly guess the number
Enter the guess(1-100): 45
You have guess the number slightly low
You have reached the limit

##Space and Time Complexity
The overall space and time complexity of this code are both O(1), meaning they are constant and not dependent on the size of the input or any data structures.

## **Building a Fibonacci Sequence Generator**

In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers.

![9882d569f7e0b5665fe3b2edd5069b06.png]()

**Instructions:**

1. First, enter how many terms you want in the sequence.
2. Then, initialize the first two terms of the sequence.
3. Use a while loop to generate the remaining terms of the sequence.
4. Finally, print the sequence.

In [ ]:
# Write code here
# Function to generate a Fibonacci sequence
def generate_fibonacci(n):
    fibonacci_sequence = []

    a, b = 0, 1
    if n <= 0:
        return []

    # Add the first term to the sequence
    fibonacci_sequence.append(a)

    # Generate the sequence up to n terms
    while len(fibonacci_sequence) < n:
        a, b = b, a + b
        fibonacci_sequence.append(a)

    return fibonacci_sequence

# Input: Number of terms in the Fibonacci sequence
n = int(input("Enter the number of Fibonacci terms to generate: "))

# Generate and print the Fibonacci sequence
result = generate_fibonacci(n)
if result:
    print("Fibonacci sequence:")
    print(result)
else:
    print("Invalid input. Please enter a positive integer for the number of terms.")

Enter the number of Fibonacci terms to generate: 4
Fibonacci sequence:
[0, 1, 1, 2]

##Space and Time Complexity
The overall space complexity is O(n), where n is the number of terms in the Fibonacci sequence, and the time complexity is O(n) due to the generation of the sequence

## **Counting the Digit**

You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number.

Example:

* Enter start number: 100
* Enter end number: 150
* Enter digit to count: 5
* The digit 5 appears 6 times between 100 and 150.

**Instructions:**

1. First, input two numbers as the range (start and end) between which the program should count the occurrence of a digit.
2. Then, input the digit that needs to be counted.
3. Initialize a counter variable to keep track of the number of occurrences of the digit.
4. Use a for loop to iterate over the range of numbers between the start and end values (inclusive).
5. Within the for loop, use a while loop to check each digit in the current number. If the digit matches the digit to be counted, increment the counter variable.
6. After the for loop completes, print the total count of the digit that was entered by the user.

In [ ]:
# Write code here
start = int(input("Enter the starting number :"))
end = int(input("Enter the ending number :"))
digit = int(input("Enter the digit to count :"))

count = 0
# Iterate through the range of numbers
for num in range(start,end+1):
    string = str(num)

    index_place = 0
    # Use while loop to check the no. of times a digit appears
    while index_place < len(string):
      if string[index_place] == str(digit):
        count += 1
      index_place += 1

print(f"The no. of times digit {digit} occurs between {start} and {end} is ",count)

Enter the starting number :100
Enter the ending number :150
Enter the digit to count :5
The no. of times digit 5 occurs between 100 and 150 is  6

## Space and time complexity
*   In the worst case, if the range of numbers is very large, the time complexity could be influenced by the number of digits, which is O(log(num))
*   Space Complexity O(1) - space for storing integers, variables, and constants.

# **Custom Functions in Python**

## **Building a Calculator**


In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

**Instructions:**

1. Define a function called calculator that takes three arguments: num1, num2, and operation.
2. In the function, use an if-else statement to determine the arithmetic operation to perform based on the value of operation.
3. If operation is '+', return the sum of num1 and num2.
4. If operation is '-', return the difference between num1 and num2.
5. If operation is '*', return the product of num1 and num2.
6. If operation is '/', return the quotient of num1 and num2.
7. If operation is not one of the four valid arithmetic operations, return the string "Invalid operation".
7. Test your function by calling it with different values for num1, num2, and operation.

**💻 Code:**

In [ ]:
# Define a function called calculator that takes three arguments: num1, num2, and operation
def cal_for_arth_operations(num1, num2, operation):

    # if else conditional statement to check the operation type
    if operation == 'sum':
      return num1 + num2
    elif operation == 'difference':
      return num1 - num2
    elif operation == 'multiply':
      return num1 * num2
    elif operation == 'divide':
      return num1 / num2
    else :
      return "Invalid Operation"

**🧪 Test Code:**

In [ ]:
# Test the calculator function
num1 = int(input("Enter the first number :"))
num2 = int(input("Enter the second number :"))
operation = input("Enter the type of arthimetic operation :")

# store the result
result = cal_for_arth_operations(num1,num2,operation)

# print the result
print(result)

Enter the first number :7
Enter the second number :9
Enter the type of arthimetic operation :multiply
63

##Space and time complexity
Both have the value of O(1)

## **Dice Rolling** 🎲

Roll a dice and display the result. 🎲

**What is the random module?**

The random module is a built-in Python module that provides a suite of functions for generating random numbers and sequences. This module is often used in applications where randomization is important, such as games, simulations, and cryptography.

You do not need to worry much about this as you will be learning about these modules and functions in the upcoming classes.

**Instructions:**

1. The random module shoud be imported to generate a random number for the dice roll.
2. roll_dice() is defined as a custom function that generates a random number between 1 and 6.
3. The function returns the result of the dice roll.
4. The result variable is assigned to the return value of the roll_dice() function.
5. The result is printed using a formatted string.

In [ ]:
import random

def roll_dice():

    # generate a random number b/w 1 to 6
    random_number = random.randint(1,6)

    return random_number

# store the return value by roll_dice function
result = roll_dice()

# print the result in a formatted string
print(f"The value of random number generated by roll_dice() function :",result)

The value of random number generated by roll_dice() function : 5

## Space and time complexity
The overall space and time complexity of this code are both O(1)

## **Celsius to Fahrenheit Converter**

Create a custom function that takes in a temperature in Celsius and returns the temperature in Fahrenheit.

**For example**: If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

**Instructions:**

To create this function, you can use the formula to convert the temperature in Celsius to Fahrenheit. The formula for converting Celsius to Fahrenheit is F = (C * 9/5) + 32, where F is the temperature in Fahrenheit and C is the temperature in Celsius.

💻 Code:

**🧪 Test Code:**

In [ ]:
# Define a function to convert celsius to fahrenheit
def temperature_scale_converter(temp_in_C):

    # Converting the temp in Celsius to Farenheith
    temp_in_F = temp_in_C * (9/5) + 32

    return temp_in_F

In [ ]:
temp_in_C = int(input("Enter the temperature in Celsius :"))

# store the result
result = temperature_scale_converter(temp_in_C)

# print the result of temperature in fahrenheit scale
print("The temperature in Fahrenheit Scale is :",result)

Enter the temperature in Celsius :30
The temperature in Fahrenheit Scale is : 86.0

## Space and time complexity
Both have the value of O(1)

## **Sum odd Numbers** ➖

In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

**Instructions:**

To create the sum_odd function, follow these steps:

1. Define a function named sum_odd that takes one argument, lst.
2. Inside the function, create a variable named result and set its value to 0.
3. Use a for loop to iterate through each element in lst.
4. For each element, check if it is odd by using the modulus operator (%). If the result not is 0, add the element to result.
5. After the loop, return result.

🤖 Output should be in format:

If the input is [1, 2, 3, 4, 5, 6], then the output should be 9

💻 Code:

In [ ]:
# define sum_odd custom function
def sum_of_odd_numbers(list_of_integers):

    sum = 0
    # execute a for loop to iterate through the numbers in list
    for num in list_of_integers:
        if num %2 != 0:
            sum += num

    return sum

**🧪 Test Code:**

In [ ]:
# Enter the list
list_of_integers = eval(input("Enter the list of integers :"))

# store the result
result =  sum_of_odd_numbers(list_of_integers)

# print the result
print("The sum of odd numbers in the list :",result)

Enter the list of integers :43,57,40,50,63
The sum of odd numbers in the list : 163

##Space and Time Complexity
The time complexity is O(n) because of the loop that iterates through the list, and the space complexity is O(1) because the memory usage is not dependent on the size of the lis

# **Advanced Looping Concepts**

## **Lambda Functions**

🧑‍💻 You are working as a Python developer for a startup company that has just received a project from a client. The client wants a program that can perform certain operations on lists using lambda functions. Your manager has assigned you the task of finding the sum of squared odd numbers from the list.

👉 Hint: You have to use filter, map and reduce functions to get the task done.

**Instructions:**

1. Begin by creating a list of numbers from 1 to 10.
2. Use a lambda function to filter out all even numbers from the list.
3. Use a lambda function to square all the remaining odd numbers in the filtered list.
4. Use a lambda function to find the sum of all the squared odd numbers in the list.
5. Print the final result.

**The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.**
No need to worry if you haven't used this function before. You can get some additional information about the function here: https://www.geeksforgeeks.org/reduce-in-python/

In [ ]:
# Import reduce from functools module
from functools import reduce

# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# lambda function to filter the list of numbers
odd_numbers = list(filter(lambda x : x % 2 != 0,numbers))

# lambda function to square the remaining odd numbers
squared_numbers = list(map(lambda x : x**2 ,odd_numbers))

# lambda function to get the sum of the squared odd numbers
sum_odd = reduce(lambda x, y : x + y ,squared_numbers)

# print the final result
print(sum_odd)

165

## Space an Time Complexity
The overall space complexity is O(n), where 'n' is the number of numbers in the list, and the time complexity is also O(n) due to the various operations performed on the list

## **Pizza Toppings**

🍕🍔 You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

👉 Hint: You can use a conditional statement to check the length of each topping's name.

**Instructions:**

1. Create two lists of toppings, one for pizza and one for burgers.

2. Use list comprehension to iterate over both the pizza and burger toppings lists, and combine them into a new list.

3. Use a conditional statement to check the length of each topping's name, and only include it in the new list if it has more than 5 characters.

In [ ]:
# Here are the example lists of toppings
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

# Combining the toppings based on list comprehension
toppings_combined = [toppings for toppings in pizza_toppings if len(toppings)>5] + [toppings for toppings in burger_toppings if len(toppings)>5]

# printing the result
print("Topping combined :\n",toppings_combined)

Topping combined :
 ['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']

## Space and Time Complexity
The overall space complexity is O(m + n), where 'm' and 'n' are the lengths of the two lists, and the time complexity is O(m + n) because of the list comprehensions that iterate through both lists.

## **Sales Data**

🌎🛍️ Suppose you work for a company that sells products in different countries. You have been given two lists: one containing the names of the countries where the company sells its products, and the other containing the sales data for each country. Your task is to create a dictionary where the keys are the country names, and the values are the corresponding sales data. However, the sales data should only include values that are greater than 1000. You are not allowed to use any loops, and must use list comprehension to solve the problem.

Can you write the code to create the desired dictionary using list comprehension?

👉 Hint: You can use zip function to create pairs of country and sales data from the two lists.

**Instructions:**

1. Use zip function to create a list of pairs, where each pair contains a country name and its corresponding sales data.

2. Use list comprehension to create a dictionary where the keys are the country names and the values are the sales data. However, only include sales data that are greater than 1000.

In [ ]:
# Here are the two lists
countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]

# Write your code here
sales_greater_than_1000 = {countries : sales for countries,sales in zip(countries,sales) if sales>1000}

# print the countries, sales dictionary where sales > 1000
print(sales_greater_than_1000)

{'USA': 2500, 'Mexico': 1200, 'France': 2000, 'Germany': 4000, 'India': 1500}

##Space and time complexity
The overall space complexity is O(n), where 'n' is the length of the lists, and the time complexity is also O(n) because of the dictionary comprehension that iterates through both lists.

## **Stock Filtering**

📊📈 Suppose you are working for a company that deals with financial data. You have been given a list of dictionaries, where each dictionary contains the following information about a stock: name, ticker symbol, price, and percentage change in price. Your task is to create a new list of dictionaries, where each dictionary contains only the name and price of the stock, but only for those stocks where the price is greater than 100 and the percentage change is positive. You must use list comprehension to solve the problem.

Can you write the code to create the desired list of dictionaries using list comprehension?

👉 Hint: You can use conditional statements to check if the price is greater than 100 and the percentage change is positive in the list comprehension.

**Instructions:**

1. Use list comprehension to filter the stocks where the price is greater than 100 and the percentage change is positive.

2. Use list comprehension to create a new list of dictionaries where each dictionary contains only the name and price of the stock.

In [ ]:
# Here is an example of the list of dictionaries
stocks = [
    {'name': 'Apple Inc.', 'ticker': 'AAPL', 'price': 120.0, 'change': 0.05},
    {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02},
    {'name': 'Amazon.com, Inc.', 'ticker': 'AMZN', 'price': 250.0, 'change': 0.1},
    {'name': 'Alphabet Inc.', 'ticker': 'GOOGL', 'price': 110.0, 'change': 0.02},
    {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}
]

# Write your code here

#Create a list of dictionaries where there is only the name and price.
new_stocks= [{'name':stock['name'], 'price':stock['price']} for stock in stocks if stock['price'] > 100 and stock['change'] > 0]

new_stocks

[{'name': 'Apple Inc.', 'price': 120.0},
 {'name': 'Amazon.com, Inc.', 'price': 250.0},
 {'name': 'Alphabet Inc.', 'price': 110.0}]

##Space and time complexity
The overall space and time complexity of this code are both O(n), where 'n' is the length of the 'stocks' list.

## **Duplicate Songs**

🎵🎶 You have a list of songs that you like to listen to, but you notice that some of the songs have duplicate names. You want to create a new set that contains the unique names of all the songs and keep the songs whose name doesn't start with "S" and doesn't end with "n" in your list using set comprehension.

Can you write the code to create a new set that contains the unique names of all the songs in your list using set comprehension only?

👉 Hint: Set comprehension is similar to list comprehension, but with curly braces {} instead of square brackets [].

**Instructions:**

1. Create a list of songs that contains duplicate names.

2. Use set comprehension to iterate over the list of songs and create a new set that contains only the unique names of the songs.

3. Include a condition in the set comprehension to filter out songs whose name starts with "S" and ends with "n".

In [ ]:
# Here's an example list of songs
songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']

# Set comprehension to filter the songs
new_songs = {song for song in songs if song[0] != 'S' and song[-1] != 'n'}

# print the new songs list
print(new_songs)

{'Hotel California', 'Bohemian Rhapsody'}

##Space and Time Complexity
The overall space and time complexity of this code are both O(n), where 'n' is the length of the 'songs' list.

# **OOPs in Python**

## **Building a Simple Calculator** 🧮🔢


In this activity, you will build a simple calculator program in Python using Object-Oriented Programming (OOP) concepts.

👉 **Instructions:**

1. Start by defining a class called Calculator.
2. Define four methods within the class: add, subtract, multiply, and divide.
3. Each method should take two arguments: num1 and num2.
4. The add method should return the sum of num1 and num2.
5. The subtract method should return the difference between num1 and num2.
6. The multiply method should return the product of num1 and num2.
7. The divide method should return the result of dividing num1 by num2. However, if num2 is zero, the method should raise a ValueError with the message "Cannot divide by zero".

In [ ]:
# Define a simple calculator class
class Calculator():
  def add(self,num1,num2):
    return num1 + num2

  def subtract(self,num1,num2):
    return num1 - num2

  def multiply(self,num1,num2):
    return num1 * num2

  def divide(self,num1,num2):
    if num2 == 0:
      raise ValueError("Cannot divide by zero")
    return num1 / num2

In [ ]:
# Create an instance
calculator = Calculator()

# Example
result_add = calculator.add(10,4)
result_subtract = calculator.subtract(8,6)
result_multiply = calculator.multiply(5,6)
result_divide = calculator.divide(10,2)

# print the results
print("Result addition",result_add)
print("Result subtraction",result_subtract)
print("Result division",result_divide)
print("Result multplication",result_multiply)

Result addition 14
Result subtraction 2
Result division 5.0
Result multplication 30

##Space an Time complexity
The overall space and time complexity of this code are both O(1)

## 🏀**Basketball Game Score Tracker**📈

Create a class that will keep track of the score of a basketball game. The class should have methods for updating the score and printing the current score.

👉 **Instructions:**

1. Start by creating a class called "BasketballGame".
2. In the class constructor, initialize the score for both teams to 0.
3. Add methods to the class for updating the score for each team. These methods should take in a number of points and add that to the appropriate team's score.
4. Add a method to the class for printing the current score. This method should print out the score for both teams.
5. Test your code by creating an instance of the "BasketballGame" class, updating the score for each team, and printing the current score.

In [ ]:
# Create BasketballGame class
class BasketballGame():

    def __init__(self):
        self.a_team_score = 0
        self.b_team_score = 0

    def update_score_team_a(self,points):
        self.a_team_score += points

    def update_score_team_b(self,points):
        self.b_team_score += points

    def print_score(self):
        print(f"Team A score : {self.a_team_score},Team B score : {self.b_team_score}")

In [ ]:
# Create an instance
game = BasketballGame()

# Update the score for each team
game.update_score_team_a(5)
game.update_score_team_b(6)
game.update_score_team_b(4)
game.update_score_team_a(3)

# print the update score
game.print_score()

Team A score : 8,Team B score : 10

##Space an Time complexity
The overall space and time complexity of this code are both O(1)

## 🎨 **Paint Brush Class** 🖌️

Create a Python class for a paint brush that has the following properties:

* Size (small, medium, or large)
* Color (red, blue, green, or yellow)
* Brand (Winsor & Newton, Liquitex, or Grumbacher)
* Type (round or flat)

Now, create an instance of the PaintBrush class with the following properties:

* Size: medium
* Color: red
* Brand: Winsor & Newton
* Type: round
* Call the paint() method on the instance to simulate painting with the brush.

👉 **Instructions:**

1. Start by defining the class using the keyword class, followed by the name of the class (in this case, "PaintBrush").

2. Within the class, define the __init__ method to initialize the properties of the paint brush. The method should take four parameters: size, color, brand, and brush_type. Use the self keyword to refer to the instance of the class.

3. Inside the __init__ method, assign the values of the parameters to instance variables using the self keyword.

4. Define a method named paint that prints out a message indicating the brush size, color, brand, and type.

5. Create an instance of the PaintBrush class by calling the class with the required parameters.

6. Call the paint() method on the instance to simulate painting with the brush.

In [ ]:
class PaintBrush():

  def __init__(self,size,color,brand,brush_type):
      self.size = size
      self.color = color
      self.brand = brand
      self.brush_type = brush_type

  def paint(self):
      print(f"Painting with {self.size} size,{self.color} color brush from {self.brand} of {self.brush_type} type")

In [ ]:
# Create an instance of PaintBrush Class with the specified properties
my_brush = PaintBrush(size = 'medium', color = 'red',brand= 'Winsor & Newton',brush_type= 'round')

# call in paint method to print he desired result
my_brush.paint()

Painting with medium size,red color brush from Winsor & Newton of round type

##Space and time complexity
Both have the value of O(1) which is constant.

## **Bank Account Management System** 💻🏦

Create a Bank Account Management System using Object-Oriented Programming (OOPs) in Python. The system should allow users to create and manage bank accounts, deposit and withdraw funds, and view account details.

👉 **Instructions:**

1. Define a BankAccount class with an init() method that takes the name, account_number, and balance as parameters and initializes the instance variables.

2. Define the deposit() method that takes the amount to be deposited as a parameter and adds it to the balance. Also, print a message with the new balance.

3. Define the withdraw() method that takes the amount to be withdrawn as a parameter and checks if the account has sufficient balance. If yes, deduct the amount from the balance and print a message with the new balance. If not, print a message with the current balance.

4. Define the account_details() method that prints the name, account number, and balance of the account.

5. Create a new instance of the BankAccount class with some initial balance.

6. Test the deposit(), withdraw(), and account_details() methods of the BankAccount class by calling them on the instance created in step 5 with some test values.

In [ ]:
# Define a BankAccount class
class BankAccount():

    def __init__(self,name,account_number,balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def deposit(self,amount):
        self.balance += amount
        print(f"The deposited amount is {amount} and new balance is {self.balance}")

    def withdrawal(self,amount):
        if amount > self.balance:
          print("The balance is insufficient")
        else :
          self.balance -= amount
          print(f"The withdrawal amount is {amount} and new balance is {self.balance}")

    def account_details(self):
        print("The Account holder :",self.name)
        print("Account number :",self.account_number)
        print("Balance is :",self.balance)

In [ ]:
# Create an instance of the class
account = BankAccount(name='Gyanendra Porwal',account_number = 3206131315,balance=1000)

# Steps to deposit and withdraw the amount
account.deposit(500)
account.withdrawal(1000)
account.withdrawal(600)
account.deposit(1500)
account.withdrawal(300)

The deposited amount is 500 and new balance is 1500
The withdrawal amount is 1000 and new balance is 500
The balance is insufficient
The deposited amount is 1500 and new balance is 2000
The withdrawal amount is 300 and new balance is 1700

In [ ]:
# View the account details
account.account_details()

The Account holder : Gyanendra Porwal
Account number : 3206131315
Balance is : 1700

## Space and time complexity
The overall space and time complexity of this code are both O(1), indicating constant space and time complexity as the input size does not affect the operations' performance.

# **Exception Handling**

## **Sum of first n Natural Numbers**

💻 Suppose you are working on a project that requires you to write a Python program that calculates the sum of the first n natural numbers. You wrote a program to solve the problem, but the code contains several errors that prevent it from executing properly. ❌

Your task is to identify and rectify the errors in the code and write the correct program. 🛠️

![Sum-of-natural-numbers.png]()

👉 **Instructions:**

1. The input function returns a string, so we need to convert it to an integer using the int() function. 🔢
2. In the range() function, we need to provide an integer value for the upper limit. So, we need to convert the input to an integer as well. 🔝
3. We need to add 1 to the upper limit in the range() function to include the last number. ➕

In [ ]:
# Enter the number
n = int(input("Enter a number: "))

# Using for loop to get the sum of first n natural numbers
sum = 0
for i in range(0, n+1):
  sum = sum + i

# print the result
print("The sum of the first", n, "natural numbers is", sum)

Enter a number: 7
The sum of the first 7 natural numbers is 28

##Space and time complexity
The overall space complexity is O(1), as it does not depend on the size of n. The time complexity is O(n) due to the loop that iterates from 0 to n

## **Average Temperature** 🌡️🌡️

You have been given a task to develop a program that calculates the average temperature 🌡️ of a city 🏢 for a given week. You have written a program to solve the problem, but there seems to be some logical errors that are causing the program to output incorrect results. You are provided with two sets of weekly temperatures and need to find the average of each individual week.

Your task is to identify and rectify the logical errors in the code and write the correct program.

👉 **Instructions:**

1. The given temperature list is in celsius and we need to find the average of each individual week.
2. While iterating through each temperature we need to initialize a variable to start from zero otherwise it can start from any garbage value.
3. Next, find the average by dividing the sum of the temperatures by the length of the temperatures list.
4. Print the average temperature of the each week.

In [ ]:
# Temperature data for the week 1 and week 2
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

# Calculate the sum of all temperatures
sum = 0
for temperature in temperatures_w1:
  sum = sum + temperature

# Calculate the average temperature
average = sum / len(temperatures_w1)

# Output the result
print("The average temperature of the week 1 is", average, "degrees Celsius.")

# Calculate the sum of all temperatures
sum = 0
for temperature in temperatures_w2:
  sum = sum + temperature

# Calculate the average temperature
average = sum / len(temperatures_w2)

# Output the result
print("The average temperature of the week 2 is", average, "degrees Celsius.")

The average temperature of the week 1 is 31.0 degrees Celsius.
The average temperature of the week 2 is 31.4 degrees Celsius.

## Space and time complexity
The overall space complexity is O(n) due to the space required for storing temperature data, and the time complexity is O(n) for each week due to the for loop that iterates through the temperatures.

## **Handle that Error!** ❌❌

You are developing a Python program that requires user input. You want to make sure that your program doesn't crash due to invalid user input or unexpected errors 🛑. You have heard about exception handling in Python and want to implement it in your program to handle errors gracefully.

Your task is to implement exception handling in your program to handle invalid user input and unexpected errors.

👉 **Instructions:**

1. Add a try-except block to handle any errors that may occur during runtime.
2. In the try block, add the code that may raise an exception.
3. In the except block, add the code to handle the exception.

In [ ]:
# Code without exception handling
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = num1 / num2

print("The result is: ", result)

Enter the first number: 10
Enter the second number: 5
The result is:  2.0

In [ ]:
# Write your code here
try :
  num1 = int(input("Enter the first number: "))
  num2 = int(input("Enter the second number: "))

  result = num1 / num2

  print("The result is: ", result)

except ValueError:
  print("Invalid input. Please enter the valid integers.")
except ZeroDivisionError:
  print("Denominator can't be zero in division")
except Exception as e:
  print("An unexpected error has occur",str(e))

Enter the first number: 10
Enter the second number: 0
Denominator can't be zero in division

##Space and time complexity
Overall space and time complexity of this code are both O(1) .

## **What's the time?** ⌚⌚

Create a class Time which takes two inputs: hours and minutes to instantiate.

* Construct a method DisplayTime() which displays the time in AM/PM formats.

 * For example if the input is 14 hours and 45 mins, then this method will print "The time is 2:45 PM".
 * If the inputted hours exceeds 23 then print the message "The input hours should be less than 24" and if the inputted minutes exceeds 59 then print the message "The input minutes should be less than 60."
 * Also if the input is 12 hours 30 minutes, then the displayed time would be 12:30 PM

* Construct a method DisplayRatio() which should display the ratio of minutes to hours.
 * For example, (8 hours and 16 mins) should display 2. Use try, except block to account for ZeroDivisionError.

👉 **Instructions:**

1. Create a class Time which takes two inputs: hours and minutes.
2. Instantiate the values using a function.
3. Then, define two functions for displaying the time in the format explained in the question and for displaying the ratio of hours to minutes.
4. Use try-except block for displaying the ratio to account for Zero Division Error.

In [ ]:
# Write your code here
class Time():

    def __init__(self,hours,minutes):
        self.hours = hours
        self.minutes = minutes

    def DisplayTime(self):
        try:
          if self.hours > 23:
            print("Enter the hours less than 24")

          elif self.minutes > 59:
            print("Enter the minutes less than 60")

          else:
            am_pm = 'AM'
            if self.hours>=12:
              am_pm = 'PM'
              if self.hours > 12:
                self.hours -= 12
            print(f"The time is {self.hours}:{self.minutes} {am_pm}")

        except Exception as e:
          print(f"The unexcepted error occured : {str(e)}")

    def DisplayRatio(self):

        try:
          if self.hours == 0:
            raise ZeroDivisionError("Cannot divide by zero")

          ratio = self.minutes/self.hours
          print(f"The ratio of minutes to hours is {ratio:.2f}")

        except ZeroDivisionError as e:
          print(f"Zero Division Error: {str(e)}")

        except Exception as e:
            print(f"An unexpected error occurred: {str(e)}")

In [ ]:
# Check for few sample inputs of hours and mins
hour_min_list = [(23,45), (34,50), (12,34), (14,67),(19,20), (2,15), (0, 10)]

for hours,minutes in hour_min_list:
    time_obj = Time(hours,minutes)
    time_obj.DisplayTime()
    time_obj.DisplayRatio()

The time is 11:45 PM
The ratio of minutes to hours is 4.09
Enter the hours less than 24
The ratio of minutes to hours is 1.47
The time is 12:34 PM
The ratio of minutes to hours is 2.83
Enter the minutes less than 60
The ratio of minutes to hours is 4.79
The time is 7:20 PM
The ratio of minutes to hours is 2.86
The time is 2:15 AM
The ratio of minutes to hours is 7.50
The time is 0:10 AM
Zero Division Error: Cannot divide by zero

##Space and Time Complexity
The time complexity of each method (DisplayTime and DisplayRatio) is constant, O(1) and space complexity O(1) because of the space for storing the input values.